<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
 <mapper namespace="replyMapper">
 	<!-- 댓글 조회 -->
	<select id="readReply" resultType="com.board.vo.ReplyVo">
    	select userId, rno, content, writer, regDate
    	from board_reply
    	where bno = #{bno}
	</select>
 	
 	<!-- 댓글 작성 -->
 	<insert id="writeReply">
 		insert into board_reply(bno, content, writer, userId) values (#{bno}, #{content}, #{writer}, #{userId})
 	</insert>
 	
 	<!-- 댓글 수정 -->
 	<update id="updateReply" parameterType="com.board.vo.ReplyVo">
 		update board_reply set content = #{content}
 			where rno = #{rno}
 	</update>
 	
 	<!-- 댓글 삭제 -->
 	<delete id="deleteReply" parameterType="com.board.vo.ReplyVo">
 		delete from board_reply
 			where rno = #{rno}
 	</delete>
 	
 	<!-- 선택된 댓글 조회 -->
 	<select id = "selectReply" resultType="com.board.vo.ReplyVo">
 		select bno, rno, content, writer, regDate
 			from board_reply
 		where rno = #{rno} 		
 	</select>
 	
 	<select id="countReply" resultType="int">
 		select count(*) from board_reply where bno = #{bno}
 	</select>
 	
</mapper>









